.hero-button {
  text-decoration: none;
  background-color: #1EDD88;
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.hero-button:hover {
  text-decoration: none;
  background-color: #fff;
  color: #1EDD88;
  transition: 0.7s;
}
